<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contacto</ion-title>
    </ion-toolbar>
  </ion-header>
<!--
  <ion-item>
    <ion-input [(ngModel)]="correo" name="correo" placeholder="Correo">
    </ion-input>
  </ion-item>

  <ion-item>
   <ion-textarea name="mensaje" [(ngModel)]="mensaje">
</ion-textarea>
</ion-item>
<ion-button (click)="enviar();"> Enviar </ion-button>


<ion-button (click)="cargarUltimoMensaje();"> Cargar último mensaje </ion-button>

 Opcional: mostrar los datos cargados 
<ion-card *ngIf="enviado">
  <ion-card-header>
    <ion-card-title>Último mensaje guardado</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p><strong>Correo:</strong> {{ correo }}</p>
    <p><strong>Mensaje:</strong> {{ mensaje }}</p>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="!enviado">
  <ion-card-content>
    <p>No hay mensajes guardados. Envía uno primero.</p>
  </ion-card-content>
</ion-card>
-->

<ion-button (click)="guardar">
  Probar servicio
</ion-button>

  <ion-button (click)="leer">
    Probar leer mensaje
  </ion-button>

  <ion-button (click)="guardar">
    Probar guardar
  </ion-button>

  <ion-item>
    <ion-input name="correo" [(ngModel)]="correo"  placeholder="Correo">
    </ion-input>
  </ion-item>

  <ion-item>
   <ion-textarea name="mensaje" [(ngModel)]="mensaje">
   </ion-textarea>
  </ion-item>

 <ion-button (click)="enviar();"> 
  Enviar 
 </ion-button>

</ion-content>
